{% extends 'pdv/base.html' %}

{% load static %} 
{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'formularios/formularios.css' %}">
{% endblock %}

{% block content %}
<main class="main-site">
    <div class="titulo">
        <h2>Criar Serviço</h2>
        <a href="{% url 'servicos' %}" class="btn">Voltar</a>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
</main>
{% endblock %}